.playlists {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 2em 0;
}

.playlists__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    max-width: 768px;
    padding: 1em;

    background-color: var(--black-t);
}

.playlists__container > div {
    width: 100%;
}

.playlists__search-bar {
    display: flex;

    width: 100%;
    max-width: 680px;
    margin: 0 auto 1em;
}

.playlists__search-bar button {
    width: 6em;
    border-left: none;
}