.radio__container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.music-social-medias, .music-player {
    width: 100%;
    height: 10vh;
    min-height: 4em;

    background-color: var(--black-t);

    border-bottom: 2px solid rgb(35, 35, 35);
}

.music-social-medias ul {
    display: flex;

    width: 100%;
    height: 100%;
}

.music-social-medias li {
    display: block;

    width: 50%;
    height: 100%;
}

.music-social-medias a {
    display: block;

    width: 100%;
    height: 100%;
    padding: 1ch;
}

.music-social-medias img {
    display: block;
    
    height: 100%;
    margin: auto;

    transition: 300ms all;
}

.music-social-medias li:first-child a:hover img {
    filter: drop-shadow(var(--shadow-green));
}

.music-social-medias li:last-child a:hover img {
    filter: drop-shadow(var(--shadow-red));
}

.music-player {
    padding: 1ch;
    background-color: var(--black);
}

.music-player > section {
    display: flex;

    width: 100%;
    height: 50%;
}

.music-player__controller {
    display: flex;
    justify-content: space-between;

    padding: 0 1em;
}

.music-player__controller div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 100%;
}

.music-player__controller button {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    cursor: pointer;
}

.music-player__controller img {
    width: 100%;
    height: 100%;

    transition: 100ms all ease;
}

.music-player__controller img:active {
    filter: drop-shadow(var(--shadow-red));
}

.music-player__song-progress, .music-player__song-settings {
    display: flex;
    justify-content: space-around;
}

.music-player__timer {
    align-items: center;
    justify-content: center;
    
    padding: 0 .2em;
}

.music-player__song-progress {
    display: flex;
    justify-content: space-around;

    width: 70%;
    margin-right: .0em;
}

.music-player__initial-time, .music-player__song-duration {
    width: max-content;
    height: max-content;
    margin: auto .5em;
}

.music-player__progress-bar {
    display: flex;
    align-items: center;
    
    width: 90%;
    height: 20px;
}

.music-player__progress-bar input {
    width: 100%;
}

.music-player__song-settings {
    display: flex;
    justify-content: space-around;

    width: 30%;
    max-width: 150px;
}

.music-player__volume {
    display: flex;
    align-items: center;

    width: 10%;
    min-width: min-content;
}

.music-player__volume img:hover {
    filter: drop-shadow(var(--shadow-purple));
}

.music-player__volume img:active {
    filter: drop-shadow(var(--shadow-red));
}

.music-player__volume-bar {
    display: flex;
    justify-content: space-around;

    width: 90%;
}

.music-player__volume-bar input {
    width: 100%;
}

@media (min-width: 500px) {
    .music-player__controller {
        padding: 0 3em;
    }
}

@media (min-width: 768px) {
    .radio__container {
        flex-wrap: nowrap;

        width: 768px;
        margin: 0 auto;
    }

    .music-social-medias {
        width: 30%;
        margin-left: auto;
    }

    .music-social-medias a {
        padding: 3vmin;
    }
}

@media (min-width: 900px) {
    .music-player__controller img:hover {
        filter: drop-shadow(var(--shadow-purple));
    }
}
