.song-recommendation {
    width: 100vw;
    max-width: 768px;
    padding: 1ch;
    margin: 0 auto 2em;

    background: var(--black-t);
}

.song-recommendation__title {
    display: inline-block;

    padding: 1ch;

    font-size: larger;
    font-style: italic;

    transition: 300ms all ease;
}

.song-recommendation__list {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.song-recommendation__list li {
    display: flex;

    width: 100%;
    margin: 1ch 0;
    padding: 1ch;

    background-color: var(--black-t);

    border: 2px solid var(--dark-black);

    cursor: pointer;

    transition: 200ms all ease;
}

.song-recommendation__list li:hover {
    box-shadow: 0 0 1em hsla(290, 100%, 30%, 0.4);
}

.song-recommendation__list li:active {
    box-shadow: 0 0 1em hsla(348, 83%, 47%, 0.3);
}

.song-recommendation__thumb {
    width: 55px;
    height: 55px;

    background-color: var(--black-t);

    border: 2px solid var(--dark-black);

    overflow: hidden;
}

.song-recommendation__thumb img {
    width: 55px;
    height: 55px;
}

.song-recommendation__song-info {
    width: calc(70% - 40px);
    max-height: 55px;
    padding-left: 1em;
}

.song-recommendation__song-name {
    width: calc(100vw - 6em);
    max-width: calc(768px - 6em);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: 300ms all ease;
}

.song-recommendation__list li:hover .song-recommendation__song-name {
    text-shadow: var(--shadow-purple);
}

.song-recommendation__list li:active .song-recommendation__song-name {
    text-shadow: var(--shadow-red);
}

.content-medias-container {
    display: none;
    width: 30%;
    max-width: 130px;
    height: 100%;
    margin-left: auto;
}

.content-medias-container div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
}

.content-medias-container img {
    width: 30px;
}

.content-medias-container div:first-child img:hover {
    filter: drop-shadow(var(--shadow-green));
}

.content-medias-container div:last-child img:hover {
    filter: drop-shadow(var(--shadow-red));
}

@media (min-width: 400px) {
    .content-medias-container {
        display: flex;
    }
}
