.footer {
    width: 100%;
    padding: 1em;

    background-color: var(--black-t);
}

.footer__nav {
    width: 100%;
}

.footer__title {
    font-size: larger;
    font-weight: normal;
    text-align: center;
    text-shadow: var(--shadow-purple);

    padding: .5em 0;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;

    width: 5em;
    margin: auto;
}

.footer__menu li {
    width: 5em;
    text-align: left;
}

.footer__menu a {
    color: white;
}

.footer__menu a:hover {
    text-shadow: var(--shadow-purple);
}

.footer__social-medias {
    width: 50%;
    margin: auto;
    padding: 2em 0;
}

.footer__social-medias ul {
    display: flex;
    justify-content: space-between;
}

.footer__social-medias li {
    width: 24px;

    transition: all 200ms ease;
}

.footer__social-medias li:first-child:hover {
    filter: drop-shadow(var(--shadow-red));
}

.footer__social-medias li:nth-child(2):hover {
    filter: drop-shadow(var(--shadow-blue));
}

.footer__social-medias li:nth-child(3):hover {
    filter: drop-shadow(var(--shadow-green));
}

.footer__social-medias li:last-child:hover {
    filter: drop-shadow(var(--shadow-red));
}

.footer__social-medias img {
    width: 100%;
}

.footer__copyright {
    text-align: center;
}

@media (min-width: 500px) {
    .footer__menu {
        width: max-content;
        margin: auto;
    }

    .footer__menu li {
        width: max-content;
        margin: 0 1em;
    }
}

@media (min-width: 768px) {
    .footer__social-medias {
        width: 50%;
    }

    .footer__social-medias li {
        width: 36px;
    }
}

@media (min-width: 1024px) {
    .footer__social-medias {
        width: 496px;
    }
}
