.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    width: 100%;
    padding: 1em 0;

    z-index: 1;

    background: linear-gradient(to bottom, hsl(0, 0%, 0%, 0.9), hsl(0, 0%, 0%, 0) 100%);
}

.header__logo, .header__contacts {
    width: 20%;
    height: 100%;
    padding: 0 1em;
}

.header__logo img {
    width: 10ch;
    height: 80%;
    margin: auto;
    padding: 0 0.2em;

    transition: 300ms all ease;
}

.header__logo img:hover, .header__contacts li:hover {
    filter: drop-shadow(var(--shadow-red));
}

.header__contacts li:first-child:hover {
    filter: drop-shadow(var(--shadow-blue));
}

.header__nav, .header__contacts {
    display: none;
    height: 100%;
}

.header__nav {
    width: 60%;
}

.header__menu,
.header__contacts ul {
    display: flex;
    justify-content: center;
}

.header__contacts ul {
    justify-content: right;
}

.header__menu li, .header__contacts li {
    width: max-content;
    margin: 0 .5em;

    transition: all 300ms ease;
}

.header__contacts :is(li, a, img) {
    width: 24px;
}

.header__contacts img {
    filter: hue-rotate(200deg);
}

.header__menu a, .header__contacts a {
    display: block;

    color: aliceblue;
    text-shadow: 0 0 .5em black;
}

.header__menu a:hover {
    text-shadow: var(--shadow-purple);
}

@media (min-width: 769px) {
    .header__nav,
    .header__contacts {
        display: block;
    }   
}
