* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    outline: none;
    
    color: white;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body::before {
    content: "";

    display: block;

    position: fixed;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    
    background-image: url(/src/assets/images/backgrounds/purple_bg_3.jpg);
    background-size: cover;
    background-position: center;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

ul {
    list-style: none;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    background: none;
}

input[type="range"]::-moz-range-progress {
    height: 5px;

    border-radius: var(--radius-pill);

    background-color: white;
    box-shadow: var(--shadow-purple);

    z-index: -1;
}

input[type="range"]::-moz-range-track {  
    background-color: gray;

    border-radius: var(--radius-pill);
}
