:root {
    --black: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 90%);
    --gray: rgb(100, 100, 100);
    --purple: hsl(290, 100%, 30%);

    --radius-circle: 50%;
    --radius-basic: 1em;
    --radius-pill: 100vmax;

    --shadow-red: 0 0 .2em crimson;
    --shadow-purple: 0 0 1em var(--purple);
}